*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}


.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;

}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}


.main__content h1{
    font-size: 4rem;
    color:#f77062;
}

.main__content h2{
    font-size: 3rem;
    color:#f77062;
}

.main__content h0{
    font-size: 1.5rem;
    color:#f77062;
}

body{
   background-color: #131313;
}

input {
    background-color: white;
    width: 70%;
    margin-left: 12%;
    font: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px;
}

textarea{
    background-color: white;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 25px;
}

input:focus-within{
    outline: none;
    border-color: #5db183;
    border-width: 3px;
}

textarea:focus-within{
    outline: none;
    border-color: #5db183;
    border-width: 3px;
}

button{
    background-color: #5db183;
    border-radius: 20px;
    border-color: black;
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
}

button:hover{
    opacity: 80%;
    cursor: pointer;
    


}
